{% extends "Wall/base.html" %}
{% block content %}
	<h1>My Wallet</h1>
	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Logout</a>
		<a href="{% url 'profile' user.username %}">Profile</a>
		<a href="{% url 'Wall-create-post' %}">Create Post</a>
		<a href="{% url 'friend_page' %}">Friends</a>
		<a href="{% url 'Wall-home' %}">Home</a>
		<a href="{% url 'group_home' %}">All Group</a>
		<a href="{% url 'group_post_create' %}">Create Group Post</a>
		<a href="{% url 'add_money_transaction_create' %}">Add Money</a>
		<a href="{% url 'transaction_create' %}">Send Money</a>
    	<h1>My Wallet</h1>
    	<h2>{{user.username}}
    	<h2>{{money}}</h2>
    	<h1>Accept Transactions</h1>
    	{% for transaction in transactions %}
			<div>
				<h2>{{transaction.sender.username}}</h2>
				<h2>{{transaction.amount}}
				<a href="{% url 'accept_transaction' pk=transaction.pk %}"> 
					<button type="button" class="btn btn-primary">Accept Money</button>
				</a>
			</div>
		{% endfor%}
	
	{% else %}
		<a href="{% url 'login' %}">Log In</a>
	{% endif %}
    
{% endblock content %}