{% extends "Wall/base.html" %}
{% block content %}
	<h1>My group {{group_name}}</h1>
	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Logout</a>
		<a href="{% url 'profile' user.username %}">Profile</a>
		<a href="{% url 'Wall-home' %}">My Wall</a>
		<a href="{% url 'friend_page' %}">My Friends</a>
		<a href="{% url 'messages_view' %}">My Messages</a>
		<a href="{% url 'wallet_home' %}">My Wallet</a>
		
		<a href="{% url 'group_home' %}">All Group</a>
		<a href="{% url 'group_post_create' %}">Create Group Post</a>
		<h1>Owner -> {{owner_name}}</h1> 
    	<h1>Members</h1>
    	{% for member in members %}
			<div>
				<h2>{{member}}</h2>
				<a href="{% url 'remove_group_member' group_name=group_name username=member %}"> 
					<button type="button" class="btn btn-primary">remove user from Group</button>
				</a>
			</div>
		{% endfor%}
    	<h1>Group Requests</h1>
    	{% for member_request in member_requests %}
			<div>
				<h2>{{member_request.user_requesting.username}}</h2>
				<a href="{% url 'add_group_member' group_name=member_request.group.group_name pk=member_request.user_requesting.pk %}"> 
					<button type="button" class="btn btn-primary">Add user to Group</button>
				</a>
			</div>
		{% endfor%}

    	<h1>Group Posts</h1>
    	{% for group_post in group_posts %}
			<div>
				<h2>By:{{group_post.sender}}</h2>
				<h2>{{group_post.message}}</h2>
				<br>
			</div>
		{% endfor%}
	{% else %}
		<a href="{% url 'login' %}">Log In</a>
	{% endif %}
    
{% endblock content %}